@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
  
}
*, html{
    margin: 0px;
    padding: 0px;
}
header{
    text-align: center;
    background-color: white;
    padding-bottom: 50px;
}
#inicio{
    display: flexbox;
    height: 15px;
    
}
#logo{
    width: 65px;
    right: 30%;
    float: left;
} 
#blog{
    width: 30px;
    right: auto;
    float: right;
}
#blogp{
    text-align: right;
}
#container{
    overflow-x: auto;
    padding: 10px;
    height: 50px;
    margin: 0px;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.164), white);
   
}

.pesquisa{
    text-align: center;
    padding: 0px 30px;
    margin: 0px 15px;
    display: inline-block;
    font-size: 1.2em;
    
    
    
}
a{
    text-decoration: none;
    color: rgb(56, 37, 37);
    transition: 1s;
}

#principal{
    background-image: url(imagens/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: auto;
    padding: 0px;
}

#principal > p , h1{
 

}
details{
    text-align: left;
}
#area{
    text-align: left;
    border: 1px solid black;
    text-decoration: none;
}

div#menu{
    background-color: rgba(0, 0, 0, 0.342);
    width: 120px;
    border: 1px solid black;
}

div.box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 10px;
    width: 20%;
   
}

div.box > form{
    display: none;
}

div.box:hover > form {
    display: block;

}

fieldset{
    border: 2px solid dodgerblue;
   
}

legend{
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    border: 2px solid dodgerblue;
    background-color: dodgerblue;

}

.inputbox{
    padding-bottom: 10px;
    position: relative;
}

.inputuser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    width: 100%;
}

