@charset "UTF-8";

body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  
}
*, html{
    margin: 0px;
    padding: 0px;
}
header{
    text-align: center;
    background-color: white;
    padding-bottom: 50px;
}
#inicio{
    display: flexbox;
    height: 15px;
    
}
#logo{
    width: 65px;
    right: 30%;
    float: left;
} 
#blog{
    width: 30px;
    right: auto;
    float: right;
}
#blogp{
    text-align: right;
}
#container{

    padding: 10px;
    height: 50px;
    margin: 0px;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.164), white);
   
}

.pesquisa{
    text-align: center;
    padding:15px;
    margin: 5px 10px;
    display: inline-block;
    font-size: 1.2em;  
}

a{
    text-decoration: underline 2px ;
    color: rgb(56, 37, 37);
    transition:0.2s;
}

#fundo{
    position: relative;
    background-image: url(imagens/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    background-position:bottom center;
   
}
#principal{
    position: absolute;
    background-color: white;
    text-align: center;
    padding: 10px 50px;
    height: 120px;
    border-radius: 15px;



    top: 30%;
    left: 30%;
    transform: translate(-50% -30%);
}

